body {
    font: 16px/1.2 BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.sticky {
    position:         sticky;
    position:     -ms-sticky;
    position:    -moz-sticky;
    position: -webkit-sticky;
}

#header {
    background: #6a39ff;
    line-height: 40px;
    overflow: hidden;
    padding: 20px 10px;
}
h1 {
    color: #ffd4c4;
    float: left;
    margin: 0;
    text-align: center;
    text-transform: capitalize;
}
#add-day {
    background-color: rgba(255,255,255,.5);
    border-radius: 50%;
    color: #6a39ff;
    float: right;
    font-size: 24px;
    height: 30px;
    line-height: 26px;
    margin-top: 5px;
    text-align: center;
    width: 30px;
}


.panel {
    padding: 0 10px 10px;
}


.day {
    margin-bottom: 40px;
}


.day-top {
    background-color: #fff;
    top: 0;
    z-index: 10;
}
.day-top h2 {
    font-size: 1.2em;
    margin: 0;
    padding: 10px 0;
}
.day-head {
    border-top: 1px solid #dedede;
    font-size: 1em;
    font-weight: bold;
}

.day-row {
    border-left: 1px solid #dedede;
    display: flex;
}
.day-row:nth-child(even) {
    background-color: #f7f7f7;
}
.day-cell {
    border-bottom: 1px solid #dedede;
    border-right: 1px solid #dedede;
    height: 30px;
    line-height: 30px;
    position: relative;
    text-align: center;
}
.day-cell .number {
    background-color: transparent;
    border: 0 none;
    box-sizing: border-box;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    text-align: center;
    width: 100%;
}

.day-cell .checkbox {
    -webkit-appearance: none;
    height: 30px;
    margin: 0;
    opacity: 0;
    width: 100%;
}
.day-cell .checkbox + span {
    height: 30px;
    left: 0;
    line-height: 30px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
}
.day-cell .checkbox:checked + span {
    opacity: 1;
}

.day-cell--pipi,
.day-cell--caca {
    flex: 0 0 auto;
    font-size: 16px;
    width: 40px;
}

.day-row:not(.day-head) .day-cell--time {
    font-size: 12px;
}
.day-cell--time,
.day-cell--pumped,
.day-cell--fed,
.day-cell--formula {
    flex: 1 1 auto;
    width: calc(25vw); /*47 is one third of all borders' width, body padding and fixed cells' width*/
}

.day-cell--pipi.js-toggle-visible:after {
    content: '💧';
}
.day-cell--caca.js-toggle-visible:after {
    content: '💩';
}



.day-foot {
    /* display: flex; */
    /* justify-content: space-between; */
    padding-top: 10px;
    bottom: 0;
}
/******************************************************************************
JS
.*****************************************************************************/
.js-toggle-visible {
    cursor: pointer;
}
.js-toggle-visible:after {
    display: block;
    opacity: 0;
}
.is-visible:after {
    opacity: 1;
}
