body {
    font: 16px/1.2 BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}


/* TOOLS */
.sticky {
    background-color: #fff;
    position:         sticky;
    position:     -ms-sticky;
    position:    -moz-sticky;
    position: -webkit-sticky;
}


/* PAGE HEADER */
#header {
    background: #6a39ff;
    line-height: 40px;
    overflow: hidden;
    padding: 20px 10px;
}
h1 {
    color: #ffd4c4;
    float: left;
    margin: 0;
    text-align: center;
    text-transform: capitalize;
}
#add-day {
    background-color: rgba(255,255,255,.5);
    border-radius: 50%;
    color: #6a39ff;
    float: right;
    font-size: 24px;
    height: 30px;
    line-height: 26px;
    margin-top: 5px;
    text-align: center;
    width: 30px;
}


/* In case we have more pages ;) */
.panel {
    padding: 0 10px 10px;
}


/* DAY */
.day {
    margin-bottom: 40px;
}

/* DAY TOP */
.day__top {
    top: 0;
    z-index: 10;
    padding: 10px 0 0;
}
.day__top h2 {
    display: flex;
    font-size: 1.2em;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.day__head {
    margin-top: 20px;
    border-top: 1px solid #dedede;
    font-size: 1em;
    font-weight: bold;
}

/* DAY TABLE */
.day__row {
    border-left: 1px solid #dedede;
    display: flex;
}
.day__row:nth-child(even) {
    background-color: #f7f7f7;
}
.day__cell {
    border-bottom: 1px solid #dedede;
    border-right: 1px solid #dedede;
    flex: 1 1 auto;
    height: 30px;
    line-height: 30px;
    position: relative;
    text-align: center;
}
.day__cell .number {
    background-color: transparent;
    border: 0 none;
    box-sizing: border-box;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    text-align: center;
    width: 100%;
}

.day__cell .checkbox {
    -webkit-appearance: none;
    height: 30px;
    margin: 0;
    opacity: 0;
    width: 100%;
}
.day__cell .checkbox + span {
    height: 30px;
    left: 0;
    line-height: 30px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
}
.day__cell .checkbox:checked + span {
    opacity: 1;
}

.day__cell--pipi,
.day__cell--caca {
    flex: 0 0 auto;
    font-size: 16px;
    width: 40px;
}

.day__row:not(.day__head) .day__cell--time {
    font-size: 12px;
}
.day__cell--time {
    flex: 0 0 auto;
    width: 70px;
}
.day__cell--pumped,
.day__cell--breastFed,
.day__cell--fed,
.day__cell--formula {
    flex: 1 1 auto;
    width: calc(20vw); /*47 is one third of all borders' width, body padding and fixed cells' width*/
}

.day__cell--pipi.js-toggle-visible:after {
    content: '💧';
}
.day__cell--caca.js-toggle-visible:after {
    content: '💩';
}


/* DAY FOOTER */
.day__foot {
    /* display: flex; */
    /* justify-content: space-between; */
    padding-top: 10px;
    bottom: 0;
}
.day__foot button { /* hack */
    margin: 10px 20px;
}